@import url("normalize.css");

* {
    box-sizing: border-box;
    font-weight: 500;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
div.project-links a:hover {
     text-decoration: underline;
     
}
html {
  font-family: raleway, sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
    margin: 0px;
    position: relative;
    
    
}
div {
    display: block;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
/*    border: 1px solid #e7e7e7;*/
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;

}
nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4293e2;
}



.intro-section {
    height: 800px;
    
    
    background-image: url(../img/3_small.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size:cover;
    color: #262626;
    
}

.about-section{
    background: #f3f3f3;
    overflow: hidden;
}
.row {
   
}

.col-lg-12 {
    margin-top: 75px;
    margin-bottom:75px;
    font-size: 1.75em;
}

.col-lg-6 {
    text-align: left;
    margin-bottom: 75px;
}

.small-text {
    font-size: .80em;
}

.container {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    
    width: 1000px;
}

/*@media (min-width: 992px) {
.container {
    width: 1200px;
}
}*/

@media (min-width: 1000px) {
    .col-lg-6 {
        width: 50%;
        float: left;
        
    }
}
@media (min-width: 1200px) {
.col-lg-6,  .col-lg-12 {
    
}
}
.col-lg-12 .col-lg-6 {
    
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

hr.separator-style {
    border-top: 2px solid #ccc;
    text-align: center;
    max-width: 800px;
}
hr.style2:after {
    content: 'ยง';
    display: inline-block;
    position: relative;
    top: -13px;
    padding: 0 10px;
    background: #fff;
    color: #333;
    font-size: 20px;
    transform: rotate(90deg);

}
hr {
    margin-top: 22px;
    margin-bottom: 22px;
    border: 0;
    
}

hr.style2:after {
    content: 'ยง';
    display: inline-block;
    position: relative;
    top: -13px;
    padding: 0 10px;
    background: #fff;
    color: #333;
    font-size: 20px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
}


.contact-section {
    background: #f3f3f3;
    background-size: auto;
    background-origin: padding-box;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #9E9E9E;
}

#social-contact ul li {
    display: inline;
    margin: 5px;
    width: auto;
    display: inline;
   
    list-style-type: none;
}

div div ul {
    padding-left: 0;
}
.fa fa-envelope-square {
    font-size:48px;
    color:#4293e2
}
span.plink {
    font-size: 18px;    
   color:#4293e2;
    cursor: auto;
}

.project-images {
    margin-top: 30px;
    margin-bottom: 30px;
}
span.p-description {
    font-size: 15.5px;
}

h3.project-title {
    color: #4293e2;
}
h1.main {
    font-size: 2.4em;
}




